/* Load css framework */
@import "chota";

/* Load fonts */
@import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-font-smoothing: antialiased;
}